.gradient-section {
  width: 300px;
  height: 200px;
  margin: 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  align-items: center;
}
.box1 {
    width: 300px;
    height: 200px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.box2 {
    width: 300px;
    height: 200px;
    background: linear-gradient(to bottom, #6a11cb, #2575fc);
}
.box3 {
    width: 300px;
    height: 200px;
    background: linear-gradient(45deg, #ff6a00, #ee0979);
}